html {
  font-family: Helvetica;
  background-color: #ddd;
}

.container {
  max-width: 900px;
  background-color: #fff;
  position: relative;
  margin: 50px auto;
  padding: 20px 50px;
}

.sc_1 {
  color: rgb(238, 4, 4);
}

.sc_2 {
  color: red;
  font-weight: normal;
}

.missao {
  font-weight: bold;
  font-size: 20px;
  border-top: 1px dashed #ddd;
  padding-top: 10px;
  margin-top: -5px;
}

.missao_1 {
  margin-top: 10px;
  margin-bottom: -3px;
}

.sb_1 {
  color: blue;
}

.link-sem-sublinhado {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.header {
  text-align: center;
  font-size: 55px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image figcaption {
  font-style: italic;
  text-align: center;
  padding-top: 4px;
}

.elementos {
  text-align: center;
  font-size: 33px;
  display: block;
}

.title-paragraph-1 {
  font-weight: bold;
  margin: 2px;
  text-align: center;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  border-top: 1px dashed#ddd;
  padding-top: 12px;
}

.sub-title {
  font-style: italic;
  text-align: center;
}

.image {
  text-align: center;
}

.image img {
  max-width: 100%;
  height: auto;
}

.image figcaption {
  margin-top: 10px;
}

.main-paragraph {
  padding: 20px 0;
  margin: 20px 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  font-size: 20px;
}

.text_1 {
  border-bottom: 1px dashed #ddd;
  font-size: 20px;
}

.text_2 {
  border-bottom: 1px dashed #ddd;
  font-size: 20px;
}

.text_3 blockquote,
.text_4 blockquote {
  display: block;
  margin: 10px 0; /* Margem apenas vertical */
  padding: 10px 3px 15px; /* Padding interno */
  font-size: 20px;
  text-align: left;
  border-bottom: 1px dashed #ddd;
}

.text_5 {
  margin-top: 20px;
  background-color: #ddd;
  padding: 30px;
  font-size: 25px;
  text-align: left;
  font-weight: bold;
}

.text_6 {
  border-top: 1px dashed #ddd;
  margin-top: 30px;
}

.evoluçao {
  font-weight: bold;
}
